/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #151327 !important;
}

.ticket-dialog {
  .mat-dialog-container {
    background: #F2F0FB;
    border-radius: 12px;
    padding: 20px 13px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
