<div class="home">
  <div class="top-slider-side">
    <div [class.mobile]="(isMobile$ | async)" class="left-slider">
      <div class="buttons">
        <button class="btn bonus">Get Bonus</button>
        <button class="btn">Learn More</button>
      </div>
      <div class="text">
        <span class="title">Sport bonus up to $500</span>
        <span class="small-title">You should just create account</span>
      </div>
      <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img class="slider-img" [src]="slide.img" alt="">
        </div>
      </ngx-slick-carousel>
    </div>

    <div [class.displayed]="(isMobile$ | async)" class="right-slider">
      <div class="buttons">
        <button class="btn bonus">Get Bonus</button>
      </div>
      <div class="text">
        <span class="title">Casino welcome bonus</span>
        <span class="small-title">You should just create account</span>
      </div>
      <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of smallSlide" class="slide">
          <img class="slider-img" [src]="slide.img" alt="">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <div class="soccer-slider">
    <span class="popular-matches">Popular matches soon</span>
    <ngx-slick-carousel class="carousel" [config]="matchSliderConfig">
      <ng-container *ngFor="let match of matches">
        <div ngxSlickItem class="slide">
          <span class="circle top"></span>
          <span class="circle bottom"></span>
          <div class="content">
            <div class="star">
              <app-icon
                [isIcon]="true"
                [imageName]="'star'"
                [width]="20"
                [height]="20"
              ></app-icon>
            </div>
            <div class="team">
              <div class="icon">
                <app-icon
                  [imageName]="match.firstTeam.imageURL"
                  [isSoccer]="true"
                  [width]="41"
                  [height]="41"
                ></app-icon>
              </div>
              <span class="title">{{match.firstTeam.name}}</span>
            </div>
            <div class="time">
              <span class="date">{{match.day | date:'MMM d'}}</span>
              <span class="hour">{{match.hour | date:'h:mm'}}</span>
            </div>

            <div class="team">
              <div class="icon">
                <app-icon
                  [imageName]="match.secondTeam.imageURL"
                  [isSoccer]="true"
                  [width]="41"
                  [height]="41"
                ></app-icon>
              </div>
              <span class="title">{{match.secondTeam.name}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ngx-slick-carousel>
  </div>
  <div [class.flexed-to-down]="(isMobile$ | async)" class="match-side">
    <div [class.displayed]="(isMobile$ | async)" [ngSwitch]="inPlaySwitch" class="sides">
      <div class="header">
        <div (click)="inPlaySwitch = 0" [class.active]="inPlaySwitch === 0" class="option in-play">
            <span class="title-side">
             <span class="title">In Play</span>
              <app-live-point></app-live-point>
            </span>
        </div>
        <div (click)="inPlaySwitch = 1" [class.active]="inPlaySwitch === 1" class="option soccer">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'soccer'"
                [width]="20"
                [height]="20"
                [isWhite]="(inPlaySwitch !== 1)"
              ></app-icon>
             <span class="title">
               Soccer
             </span>
            </span>
        </div>
        <div (click)="inPlaySwitch = 2" [class.active]="inPlaySwitch === 2" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'tennis'"
                [width]="20"
                [height]="20"
                [isWhite]="(inPlaySwitch !== 2)"
              ></app-icon>
              <span [class.displayed]="inPlaySwitch !== 2" class="title">
               Tennis
             </span>
            </span>
        </div>
        <div (click)="inPlaySwitch = 3" [class.active]="inPlaySwitch === 3" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'boxing'"
                [width]="20"
                [height]="20"
                [isWhite]="(inPlaySwitch !== 3)"
              ></app-icon>
              <span [class.displayed]="inPlaySwitch !== 3" class="title">
               Boxing
             </span>
            </span>
        </div>
        <div (click)="inPlaySwitch = 4" [class.active]="inPlaySwitch === 4" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'basketball'"
                [width]="20"
                [height]="20"
                [isWhite]="(inPlaySwitch !== 4)"
              ></app-icon>
              <span [class.displayed]="inPlaySwitch !== 4" class="title">
               Basketball
             </span>
            </span>
        </div>
      </div>
      <div [class.active]="inPlaySwitch !== 0" class="content-side">
        <table class="table">
          <thead class="head">
          <tr class="t-row">
            <th scope="col" class="table-header">Time</th>
            <th scope="col" class="table-header">Match</th>
            <th scope="col" class="table-header">&nbsp;</th>
            <th scope="col" class="table-header bet-header">1</th>
            <th scope="col" class="table-header bet-header">X</th>
            <th scope="col" class="table-header bet-header">2</th>
            <th scope="col" class="table-header bet-col">Bets</th>
          </tr>
          </thead>
          <tbody *ngSwitchCase="0" class="body">
          <tr class="body-row" *ngFor="let match of countries; index as i">
            <td class="time"><span class="date">8 Jan</span> <span class="clock">20:00</span></td>
            <td class="match">
              <span class="team">
                <span class="score">3</span>
                <span class="title">Switzerland (Apollo)</span>
              </span>
              <span class="team">
                <span class="score">0</span>
                <span class="title">Australia (Kubrik)</span>
              </span>
            </td>
            <td class="score time-count">
              <span class="count">(2:0 - 1:0)</span>
              <app-icon
                [isIcon]="true"
                [imageName]="'clock'"
                [width]="15"
                [height]="15"
              ></app-icon>
              <span class="match-time">3'</span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets light-bet">
              <span class="column">
                1.9
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [class.displayed]="(isMobile$ | async)" [ngSwitch]="preMatchSwitch" class="sides">
      <div class="header">
        <div (click)="preMatchSwitch = 0" [class.active]="preMatchSwitch === 0" class="option in-play">
            <span class="title-side">
             <span class="title">Prematch</span>
            </span>
        </div>
        <div (click)="preMatchSwitch = 1" [class.active]="preMatchSwitch === 1" class="option soccer">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'soccer'"
                [width]="20"
                [height]="20"
                [isWhite]="(preMatchSwitch !== 1)"
              ></app-icon>
             <span class="title">
               Soccer
             </span>
            </span>
        </div>
        <div (click)="preMatchSwitch = 2" [class.active]="preMatchSwitch === 2" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'tennis'"
                [width]="20"
                [height]="20"
                [isWhite]="(preMatchSwitch !== 2)"
              ></app-icon>
              <span [class.displayed]="preMatchSwitch !== 2" class="title">
               Tennis
             </span>
            </span>
        </div>
        <div (click)="preMatchSwitch = 3" [class.active]="preMatchSwitch === 3" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'boxing'"
                [width]="20"
                [height]="20"
                [isWhite]="(preMatchSwitch !== 3)"
              ></app-icon>
              <span [class.displayed]="preMatchSwitch !== 3" class="title">
               Boxing
             </span>
            </span>
        </div>
        <div (click)="preMatchSwitch = 4" [class.active]="preMatchSwitch === 4" class="option">
            <span class="title-side">
              <app-icon
                [isIcon]="true"
                [imageName]="'basketball'"
                [width]="20"
                [height]="20"
                [isWhite]="(preMatchSwitch !== 4)"
              ></app-icon>
              <span [class.displayed]="preMatchSwitch !== 4" class="title">
               Basketball
             </span>
            </span>
        </div>
      </div>
      <div [class.active]="preMatchSwitch !== 0" class="content-side">
        <table class="table">
          <thead class="head">
          <tr class="t-row">
            <th scope="col" class="table-header">Time</th>
            <th scope="col" class="table-header">Match</th>
            <th scope="col" class="table-header bet-header">1</th>
            <th scope="col" class="table-header bet-header">X</th>
            <th scope="col" class="table-header bet-header">2</th>
            <th scope="col" class="table-header bet-col">Bets</th>
          </tr>
          </thead>
          <tbody *ngSwitchCase="0" class="body">
          <tr class="body-row" *ngFor="let match of countries; index as i">
            <td class="time"><span class="date">8 Jan</span> <span class="clock">20:00</span></td>
            <td class="match">
              <span class="team">
                <span class="title">Switzerland (Apollo)</span>
              </span>
              <span class="team">
                <span class="title">Australia (Kubrik)</span>
              </span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets">
              <span (click)="openTicketDialog(match)" class="column">1.9</span>
            </td>
            <td class="bets light-bet">
              <span class="column">
                1.9
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div [class.show-displayed]="(isMobile$ | async)" class="in-play-mobile">
      <div class="title-side">
        <span class="title">In Play</span>
        <span class="icon">
      <app-live-point></app-live-point>
        </span>
      </div>
      <div class="categories-side">
        <div (click)="inPlaySwitch = 0" [ngClass]="{'active':inPlaySwitch===0, 'soccer':inPlaySwitch === 0}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'soccer'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Soccer</div>
        </div>
        <div (click)="inPlaySwitch = 1" [ngClass]="{'active':inPlaySwitch===1}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'basketball'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Basketball</div>
        </div>
        <div (click)="inPlaySwitch = 2" [ngClass]="{'active':inPlaySwitch===2}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'tennis'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Tennis</div>
        </div>
        <div (click)="inPlaySwitch = 3" [ngClass]="{'active':inPlaySwitch===3}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'boxing'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Boxing</div>
        </div>
        <div (click)="inPlaySwitch = 4" [ngClass]="{'active':inPlaySwitch===4}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'volleyball'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Volleyball</div>
        </div>
      </div>
      <span class="all-sports">
      All sports
      <app-icon
        [isIcon]="true"
        [isWhite]="true"
        [imageName]="'arrow-right'"
        [width]="10"
        [height]="10"
      ></app-icon>
    </span>
      <div class="ticket-side">
        <div class="ticket">
        <span class="top-side">
          <span class="date">8 jan</span>
          <span class="clock">05:27</span>
        </span>
          <div class="team-side">
            <div class="team">
            <span class="team-name">
              Switzerland (Apollo)
            </span>
              <span class="team-name">
              Australia (Kubrik)
            </span>
            </div>
            <div class="bet">
              +35
            </div>
          </div>
          <div class="bet-side">
            <div class="bet-block-side">
              <span class="title">1</span>
              <span class="bet-block">1.9</span>
            </div>
            <div class="bet-block-side">
              <span class="title">X</span>
              <span class="bet-block">43</span>
            </div>
            <div class="bet-block-side">
              <span class="title">2</span>
              <span class="bet-block">15</span>
            </div>
          </div>
        </div>
        <div class="ticket">
        <span class="top-side">
          <span class="date">8 jan</span>
          <span class="clock">05:27</span>
        </span>
          <div class="team-side">
            <div class="team">
            <span class="team-name">
              Switzerland (Apollo)
            </span>
              <span class="team-name">
              Australia (Kubrik)
            </span>
            </div>
            <div class="bet">
              +35
            </div>
          </div>
          <div class="bet-side">
            <div class="bet-block-side">
              <span class="title">1</span>
              <span class="bet-block">1.9</span>
            </div>
            <div class="bet-block-side">
              <span class="title">X</span>
              <span class="bet-block">43</span>
            </div>
            <div class="bet-block-side">
              <span class="title">2</span>
              <span class="bet-block">15</span>
            </div>
          </div>
        </div>
      </div>
      <button class="show-all-events-btn">
        Show all events
        <app-icon
          [isIcon]="true"
          [imageName]="'arrow-right'"
          [width]="10"
          [height]="10"
          [isWhite]="true"
        ></app-icon>
      </button>
    </div>
    <div [class.show-displayed]="(isMobile$ | async)" class="in-play-mobile">
      <div class="title-side">
        <span class="title">preMatchSwitch</span>
      </div>
      <div class="categories-side">
        <div (click)="preMatchSwitch = 0" [ngClass]="{'active':preMatchSwitch===0, 'soccer':preMatchSwitch === 0}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'soccer'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Soccer</div>
        </div>
        <div (click)="preMatchSwitch = 1" [ngClass]="{'active':preMatchSwitch===1}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'basketball'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Basketball</div>
        </div>
        <div (click)="preMatchSwitch = 2" [ngClass]="{'active':preMatchSwitch===2}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'tennis'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Tennis</div>
        </div>
        <div (click)="preMatchSwitch = 3" [ngClass]="{'active':preMatchSwitch===3}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'boxing'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Boxing</div>
        </div>
        <div (click)="preMatchSwitch = 4" [ngClass]="{'active':preMatchSwitch===4}" class="category">
          <app-icon
            [isWhite]="true"
            [imageName]="'volleyball'"
            [width]="21"
            [height]="21"
            [isIcon]="true"
          ></app-icon>
          <div class="title">Volleyball</div>
        </div>
      </div>
      <span class="all-sports">
      All sports
      <app-icon
        [isIcon]="true"
        [isWhite]="true"
        [imageName]="'arrow-right'"
        [width]="10"
        [height]="10"
      ></app-icon>
    </span>
      <div class="ticket-side">
        <div class="ticket">
        <span class="top-side">
          <span class="date">8 jan</span>
          <span class="clock">05:27</span>
        </span>
          <div class="team-side">
            <div class="team">
            <span class="team-name">
              Switzerland (Apollo)
            </span>
              <span class="team-name">
              Australia (Kubrik)
            </span>
            </div>
            <div class="bet">
              +35
            </div>
          </div>
          <div class="bet-side">
            <div class="bet-block-side">
              <span class="title">1</span>
              <span class="bet-block">1.9</span>
            </div>
            <div class="bet-block-side">
              <span class="title">X</span>
              <span class="bet-block">43</span>
            </div>
            <div class="bet-block-side">
              <span class="title">2</span>
              <span class="bet-block">15</span>
            </div>
          </div>
        </div>
        <div class="ticket">
        <span class="top-side">
          <span class="date">8 jan</span>
          <span class="clock">05:27</span>
        </span>
          <div class="team-side">
            <div class="team">
            <span class="team-name">
              Switzerland (Apollo)
            </span>
              <span class="team-name">
              Australia (Kubrik)
            </span>
            </div>
            <div class="bet">
              +35
            </div>
          </div>
          <div class="bet-side">
            <div class="bet-block-side">
              <span class="title">1</span>
              <span class="bet-block">1.9</span>
            </div>
            <div class="bet-block-side">
              <span class="title">X</span>
              <span class="bet-block">43</span>
            </div>
            <div class="bet-block-side">
              <span class="title">2</span>
              <span class="bet-block">15</span>
            </div>
          </div>
        </div>
      </div>
      <button class="show-all-events-btn">
        Show all events
        <app-icon
          [isIcon]="true"
          [imageName]="'arrow-right'"
          [width]="10"
          [height]="10"
          [isWhite]="true"
        ></app-icon>
      </button>
    </div>
  </div>

  <div [class.flexed-to-down]="(isMobile$ | async)" class="casino-side">
    <div [class.displayed]="(isMobile$ | async)" [ngSwitch]="casino" class="sides">
      <div class="header">
        <div (click)="casino = 0" [class.active]="casino === 0" class="option">
            <span class="title-side">
             <span class="title">Casino</span>
            </span>
        </div>
        <div (click)="casino = 1" [class.active]="casino === 1" class="option">
            <span class="title-side">
             <span class="title">
               Drop & wings
             </span>
            </span>
        </div>
        <div (click)="casino = 2" [class.active]="casino === 2" class="option">
            <span class="title-side">
              <span class="title">
               Live Casino
             </span>
            </span>
        </div>
        <div (click)="casino = 3" [class.active]="casino === 3" class="option">
            <span class="title-side">
              <span class="title">
               Roulette
             </span>
            </span>
        </div>
      </div>
      <div [class.active]="casino !== 0" class="content-side">
        <span class="popular-title">Popular casino games</span>
        <div *ngSwitchCase="0" class="game-block">
          <div *ngFor="let game of countries" class="game">
            <app-icon
              [isCasino]="true"
              [imageName]="'fruit'"
              [width]="157"
              [height]="123"
            ></app-icon>
          </div>

          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>

        </div>
      </div>
    </div>
    <div [class.displayed]="(isMobile$ | async)" [ngSwitch]="casinoLive" class="sides">
      <div class="header">
        <div (click)="casinoLive = 0" [class.active]="casinoLive === 0" class="option">
            <span class="title-side">
             <span class="title">Live games</span>
            </span>
        </div>
        <div (click)="casinoLive = 1" [class.active]="casinoLive === 1" class="option">
            <span class="title-side">
             <span class="title">
               1 X 2
             </span>
            </span>
        </div>
        <div (click)="casinoLive = 2" [class.active]="casinoLive === 2" class="option">
            <span class="title-side">
              <span class="title">
               Amatic
             </span>
            </span>
        </div>
        <div (click)="casinoLive = 3" [class.active]="casinoLive === 3" class="option">
            <span class="title-side">
              <span class="title">
               Belatra
             </span>
            </span>
        </div>
      </div>
      <div [class.active]="casinoLive !== 0" class="content-side">
        <span class="popular-title">Popular casino games</span>
        <div *ngSwitchCase="0" class="game-block">
          <div *ngFor="let game of countries" class="game">
            <app-icon
              [isCasino]="true"
              [imageName]="'suit'"
              [width]="157"
              [height]="123"
            ></app-icon>
          </div>

          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>

        </div>
      </div>
    </div>
    <div [class.show-displayed]="(isMobile$ | async)" class="casino-mobile">
      <span class="main-title">Casino</span>
      <div class="header">
        <div (click)="casino = 0" [class.active]="casino === 0" class="option">
            <span class="title-side">
             <span class="title">
               Drop & wings
             </span>
            </span>
        </div>
        <div (click)="casino = 1" [class.active]="casino === 1" class="option">
            <span class="title-side">
              <span class="title">
               Live Casino
             </span>
            </span>
        </div>
        <div (click)="casino = 2" [class.active]="casino === 2" class="option">
            <span class="title-side">
              <span class="title">
               Roulette
             </span>
            </span>
        </div>
      </div>
      <div [ngSwitch]="casino" class="game-side">
         <div *ngSwitchCase="0" class="game-block">
           <ng-container *ngFor="let game of countries; let i = index">
           <div *ngIf="i < 6" class="game">
              <app-icon
                [isCasino]="true"
                [imageName]="'fruit'"
                [width]="200"
                [height]="150"
              ></app-icon>
            </div>
           </ng-container>
           <div class="game hidden-game"></div>
           <div class="game hidden-game"></div>
           <div class="game hidden-game"></div>
           <div class="game hidden-game"></div>
          </div>

      </div>
      <button class="show-all-events-btn">
        Show all games
        <app-icon
          [isIcon]="true"
          [imageName]="'arrow-right'"
          [width]="10"
          [height]="10"
          [isWhite]="true"
        ></app-icon>
      </button>

    </div>
    <div [class.show-displayed]="(isMobile$ | async)" class="casino-mobile">
      <span class="main-title live">Live games</span>
      <div class="header">
        <div (click)="casino = 0" [class.active]="casino === 0" class="option">
            <span class="title-side">
             <span class="title">
               1 X 2
             </span>
            </span>
        </div>
        <div (click)="casino = 1" [class.active]="casino === 1" class="option">
            <span class="title-side">
              <span class="title">
               Amatic
             </span>
            </span>
        </div>
        <div (click)="casino = 2" [class.active]="casino === 2" class="option">
            <span class="title-side">
              <span class="title">
               Belatra
             </span>
            </span>
        </div>
      </div>
      <div [ngSwitch]="casino" class="game-side">
        <div *ngSwitchCase="0" class="game-block">
          <ng-container *ngFor="let game of countries; let i = index">
            <div *ngIf="i < 6" class="game">
              <app-icon
                [isCasino]="true"
                [imageName]="'fruit'"
                [width]="200"
                [height]="150"
              ></app-icon>
            </div>
          </ng-container>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
          <div class="game hidden-game"></div>
        </div>

      </div>
      <button class="show-all-events-btn">
        Show all games
        <app-icon
          [isIcon]="true"
          [imageName]="'arrow-right'"
          [width]="10"
          [height]="10"
          [isWhite]="true"
        ></app-icon>
      </button>

    </div>
  </div>

</div>
